<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h3>Login</h3>
    <form method="POST">
        <p>
            <label for="email_address">Email Address:</label>
            <input type="email" name="email_address" id="email_address" required>
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
        </p>
        <button type="submit">Login</button>
    </form>
</body>
</html>